<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>CueLens</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>de.eachandevery.cuelens.infofeed.refresh</string>
	</array>
	<key>CUELENS_ACTIVATION_URL</key>
	<string>$(CUELENS_ACTIVATION_URL)</string>
	<key>CUELENS_FEATURES_URL</key>
	<string>$(CUELENS_FEATURES_URL)</string>
	<key>CUELENS_FEEDBACK_URL</key>
	<string>$(CUELENS_FEEDBACK_URL)</string>
	<key>CUELENS_MESSAGES_URL</key>
	<string>$(CUELENS_MESSAGES_URL)</string>
	<key>CUELENS_PRIVACY_URL_DE</key>
	<string>$(CUELENS_PRIVACY_URL_DE)</string>
	<key>CUELENS_PRIVACY_URL_EN</key>
	<string>$(CUELENS_PRIVACY_URL_EN)</string>
	<key>CUELENS_ALLOWS_LOCAL_HTTP</key>
	<string>$(CUELENS_ALLOWS_LOCAL_HTTP)</string>
	<key>CUELENS_SUBMIT_URL</key>
	<string>$(CUELENS_SUBMIT_URL)</string>
	<key>CUELENS_RUN_COOLDOWN_SECONDS</key>
	<string>$(CUELENS_RUN_COOLDOWN_SECONDS)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
