body {
	background-color: #D7ECE9;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
	text-align: center;
}

a, strong {
	color: #006269;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
}

td {
	text-align: left;
}

input {
	width: 100%;
}

.error {
	color: #7A2E3A;
	font-weight: bold;
}

.success {
	margin-top: 75px;
}

table.international {
	border-spacing: 40pt 0;
}

table.international td {
	font-size: 50px;
	text-align: center;
}

table.international>tbody>tr:last-child>td>a {
	text-decoration: none;
}