#include "Base.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = de.eachandevery.cuelens.debug
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
SWIFT_OPTIMIZATION_LEVEL = -Onone
ENABLE_TESTABILITY = YES
DEBUG_INFORMATION_FORMAT = dwarf

CUELENS_ACTIVATION_URL = https:/$()/debug.invalid/activate
CUELENS_MESSAGES_URL = https:/$()/debug.invalid/messages
CUELENS_FEEDBACK_URL = https:/$()/debug.invalid/feedback
CUELENS_FEATURES_URL = https:/$()/debug.invalid/features
CUELENS_SUBMIT_URL = https:/$()/debug.invalid/submit
CUELENS_PRIVACY_URL_DE = https:/$()/debug.invalid/privacy-de
CUELENS_PRIVACY_URL_EN = https:/$()/debug.invalid/privacy-en
CUELENS_RUN_COOLDOWN_SECONDS = 3
CUELENS_ALLOWS_LOCAL_HTTP = YES
